  h1{
    color:lightslategray;
    display: flex;
    justify-content: center;
  }
  
  /* video 要素の上に canvas 要素をオーバーレイするための CSS */
  #container {              /* コンテナ用の div について */
    position: relative;     /* 座標指定を相対値指定にする */
    display: flex;
    justify-content: center;
  }
  #video {                  /* カメラ映像を流す video について */
    transform: scaleX(-1);  /* 左右反転させる */
  }
  #canvas {                 /* 描画用の canvas について */
    transform: scaleX(-1);  /*左右反転させる*/
    position: absolute;    
    top: 0;                 
  }
  #canvas2 {                 /* スコア用の canvas について */
    position: absolute;    
    top: 0;                 
  }
  .start-container{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  #start{
    background-color: #bef1a0;
    width:95%;
    margin:0px;
    font-size: 16px;
    color: rgb(16, 83, 10);
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    padding: 2px 2px;
    border-radius: 4px;
    border-bottom: 4px solid rgb(16, 83, 10);
    text-shadow: 1px 1px 1px rgba(255,255,255,0.7);
  }

  #start:active {
    transform: translateY(4px);
    border-bottom: none;
  }

  .eyeoption-container,.hatoption-container,.aoption-container,.cheekoption-container {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    position:relative;
    right:18px;
    justify-content: space-between;
    margin-top:20px;

  }
  .eyeoption {
    background-color: #ffa69e;
    width:15%;
    margin:0px;
    font-size: 16px;
    color: #CE5B78;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    padding: 0px 2px;
    border-radius: 4px;
    border-bottom: 4px solid #CE5B78;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.7);
  }

  .eyeoption:active {
    transform: translateY(4px);
    border-bottom: none;
  }

  .hatoption {
    background-color: #51b7f1;
    width:15%;
    margin:0px;
    font-size: 16px;
    color: rgb(61, 79, 243);
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    padding: 2px 2px;
    border-radius: 4px;
    border-bottom: 4px solid rgb(61, 79, 243);
    text-shadow: 1px 1px 1px rgba(255,255,255,0.7);
  }
  .hatoption:active {
    transform: translateY(4px);
    border-bottom: none;
  }

  .aoption {
    background-color: #f0f5a6;
    width:15%;
    margin:0px;
    font-size: 16px;
    color: rgb(187, 175, 7);
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    padding: 2px 2px;
    border-radius: 4px;
    border-bottom: 4px solid rgb(187, 175, 7);
    text-shadow: 1px 1px 1px rgba(255,255,255,0.7);
  }
  .aoption:active {
    transform: translateY(4px);
    border-bottom: none;
  }

  .cheekoption {
    background-color: #ffd59e;
    width:15%;
    margin:0px;
    font-size: 16px;
    color: rgb(236, 90, 22);
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    padding: 2px 2px;
    border-radius: 4px;
    border-bottom: 4px solid rgb(236, 90, 22);
    text-shadow: 1px 1px 1px rgba(255,255,255,0.7);
  }
  .cheekoption:active {
    transform: translateY(4px);
    border-bottom: none;
  }
  img{
    display: none;
  }